/* ========================================= */
/* $TABLE OF CONTENTS                        */                        
/* ========================================= */

/*

	> $WHITE - #FFF
	> $MUTED GRAY - #E5E5E5
	> $GRAY - #999999
	> $DARK GRAY - #4D4D4D
	> $DARKER GRAY - #323232
	> $DARKER GRAY SHADE - #2E2E2E
	> $TRANSPARENT BLACK - #000000
	> $MINT ( MAIN ) - #48CFAE
	> $DARK MINT - #44C2A2
	> $DARKER MINT - #1F2625
	> $BALE MINT - #DFF0EB
	> $SOCIAL LINKS
	> $GRADIENT HOME THEME -- V1.1

*/

/* ========================================= */
/*	$WHITE - #FFF                             */
/* ========================================= */

/* #WHITE COLOR
/* ====================== */

/* buttons */
.btn,

/* splitted home */
#splitted-home .btn:hover,

/* widget title inverted */
.widget-title--inverted h5,

/* social navbar */
#home .hollow-social-menu a:hover,
.hollow-social-menu a:hover,

/* tabs list */
.tabs-list > li.active > a,
.tabs-list > li.active > a:hover,
.tabs-list > li > a:hover,
.tabs-list > li.active > a:focus,

/* hobbies */
.hobbies-list > li h6,
.hobbies-list > li i.fa,

/* resume */
.education-timeline .timeline-box span,
.education-timeline .timeline-box small,
.custom-tooltip,

/* services */
.service-icon i,

/* process */
.process-list span,
.process-list i,
.process-list h6,

/* -- work */
.portfolio-item a,
.portfolio-item a:hover,

/* pricing */
.package-title-box,
.package-title-box h3,

/* hero */
.hero-header h4,
.hero-header h1.huge,

/* testimonials */
#testimonials p,
#testimonials h6,
.testimonial-header a:hover,

/* contact */
.captcha-holder,

/* -- work single */
#single-work-item h2
{ color: #fff; }

/* #WHITE BACKGROUND
/* ====================== */

/* widget title inverted */
.widget-title.widget-title--inverted::before,

/* preloader */
#preloader,

/* resume */
.timeline-item-bullet,

/* clients */
.clients-list a,

/* testimonials */
.testimonial-header span,

/* contact */
.captcha-holder .captcha,

/* -- work item */
.rslides_tabs a:hover
{ background-color: #fff; }

/* #TRANSPARENT WHITE COLOR
/* ======================== */

/* milestones */
.milestones-list i 
{ color: rgba(255, 255, 255, 0.1); }

/* widget title inverted */
.widget-title--inverted em,

/* milestones */
.milestones-list span,

/* hobbies */
.hobby-description,

/* testimonials */
.testimonial-job,
.testimonial-header a 
{ color: rgba(255, 255, 255, 0.7); }

/* #TRANSPARENT WHITE BACKGROUND
/* ============================= */

/* -- work item */
.rslides_tabs a { background-color: rgba(255, 255, 255, 0.7); }

/* hobbies */
.hobbies-list > li,

/* process */
.process-list .md-rounded-box,

/* process */
.horizontal-rail::after,
.horizontal-rail::before
{ background-color: rgba(255, 255, 255, 0.2); }

/* resume */
.education-timeline .timeline-box small,
.custom-tooltip span 
{ background-color: rgba(255, 255, 255, 0.1); }

/* #TRANSPARENT WHITE BORDER
/* ============================= */

/* hobbies */
.hobbies-list > li,

/* process */
.process-list .md-rounded-box
{ border-color: rgba(255, 255, 255, 0.8); }

/* process */
.horizontal-rail
{ border-color: rgba(255, 255, 255, 0.2); }

/* ========================================= */
/*	$MUTED GRAY - #E5E5E5                     */
/* ========================================= */

/* #MUTED GRAY BORDER
/* =================== */

/* main section title */
.main-title__left,

/* secondary title */
.secondary-title__line::after,

/* prrofile */
.info-list > li,

/* resume */
.timeline-rail,
.timeline-item-bullet,

/* pricing */
.pricing-table,
.features-list,
.features-list > li,

/* blog */
.breadcrumb-container,
.recent-posts-wrapper li + li,
.tweets-list li + li,
.comments-list,
.comment,

/* -- work item */
.project-info ul li + li
{ border-color: #e5e5e5 }

/* #MUTED GRAY COLOR 
/* =================== */

/* main title */
.main-title i
{ color: #e5e5e5; }

/* #MUTED GRAY BACKGROUNDS
/* ======================= */

/* skills */
.skill-meter > div 
{ background-color: #e5e5e5 }

/* ========================================= */
/*	$LIGHT GRAY - #D4D4D4                     */
/* ========================================= */

/* main title */
.main-title em 
{ color: #d4d4d4; }

/* ========================================= */
/*	$GRAY - #999999                           */
/* ========================================= */

/* #GRAY COLOR
/* ============== */

body,

/* main title */
.main-title,
.main-title__right p,

/* social menu */
.bare-social-menu a,

/* secondary title */
.secondary-title__icon.h5,

/* work */
.shuffle-filter a,

/* blog */
.post__meta a,
.post::after,
.owner-socials-wrapper a,
.recent-posts-wrapper a,
.post-tags-wrapper a,
.comment-reply-link,
.comment-date,

/* contact */
.captcha-holder .captcha,

/* -- work item */
.work-item-navigation a
{ color: #999999; }

/* #GRAY BACKGROUND
/* ================== */

/* resume */
.timeline-rail::before,
.timeline-rail::after 
{ background-color: #999999; }

/* ========================================= */
/*	$DARK GRAY - #4D4D4D                      */
/* ========================================= */

/* headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,

/* footer */
footer .hollow-social-menu a,
.copyright-holder
{ color: #4d4d4d; }

/* ========================================= */
/*	$DARKER GRAY - #323232                    */
/* ========================================= */

/* widget title */
.widget-title::before,

/* -- work item */
.work-inner-title::after,

/* hobbies */
.hobby-description,

/* footer */
footer
{ background-color: #323232; }

/* ========================================= */
/*	$DARKER GRAY SHADE - #2E2E2E              */
/* ========================================= */

.copyright-holder 
{ background-color: #2e2e2e; }

/* ========================================= */
/*	$TRANSPARENT BLACK - #000000              */
/* ========================================= */

/* preloader */
#preloader::after
{ background-color: rgba(0, 0, 0, 0.5); }

/* home */
#home .huge,

/* parallax home */
.profession-box h5,

/* splitted home */
#splitted-home .btn,
#splitted-home h2
{ color: rgba(0, 0, 0, 0.85); }

/* home */
.specializations-list,
#home .hollow-social-menu a
{ color: rgba(0, 0, 0, 0.45); }

/* hero */
.hero-header .overlay
{ background-color: rgba(0, 0, 0, 0.65); }

/* ========================================= */
/*	$MINT ( MAIN ) - #48CFAE                  */
/* ========================================= */

/* #MINT COLOR
/* ======================== */

/* mint buttons */
.btn--main-color,

/* dark mint button  */
.btn--main-inverted:hover,

/* parallax home */
.title-box,
.profession-box h5,

/* resume */
.timeline .plus-icon,
.education-timeline .timeline-box,
.custom-tooltip,

/* skills */
.skill-meter > div.on,

/* services */
.service-icon,

/* process */
.process-list span,

/* work */
.item-caption,

/* prices */
.best-pricing-table .package-title-box,
.best-pricing-table .package-title-box::before,

/* blog */
.view-news-btn:hover,
.read-more-btn,
.pager li > a:hover,

/* contact */
.captcha-holder
{ background-color: #48cfae }

/* #MINT BACKGROUND
/* ======================== */

a,

/* main title */
.main-title h1,

/* navigation */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a.mPS2id-highlight,

/* resume */
.timeline-info-list,

/* milestones */
.milestones-list h1,

/* skills */
.colored-bullets li::before,

/* work */
.shuffle-filter li.active a,
.shuffle-filter li a:hover,

/* pricing */
.price,

/* blog */
.breadcrumb > .active
{ color: #48cfae }

/* #TRANSPARENT BACKGROUND
/* ======================== */

/* testimonials */
#testimonials .overlay,

/* -- work item */
#single-work-item .overlay
{ background-color: rgba(72, 207, 174, 0.85); }

/* #MINT BORDER
/* ======================== */

/* parallax home */
.title-box::after,
.profession-box::after,
.profession-box::before,
.profession-box h5::after,

/* contact */
.captcha-holder .captcha,
.custom-tooltip::after,

input:focus,
textarea:focus,
select:focus,
.form-control:not([readonly]):focus 
{ border-color: #48cfae; }

@media (min-width: 992px) 
{
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a.mPS2id-highlight { border-color: #48cfae; }
}

/* ========================================= */
/*	$DARK MINT - #44C2A2                      */
/* ========================================= */

a:hover { color: #44c2a2; }

/* dark MINT buttons */
.btn--main-color:hover,

/* portfolio */
.portfolio-item .btn--main-inverted:hover,

/* blog */
.read-more-btn:hover
{ background-color: #44c2a2; }

/* ========================================= */
/*	$DARKER MINT - #1F2625                    */
/* ========================================= */

/* #DARKER MINT COLOR
/* ======================== */

/* tabs list */
.tabs-list li a,

/* portfolio */
.portfolio-item h6,
.portfolio-item em
{ color: #1f2625; }

/* #DARKER MINT BACKGROUND
/* ======================== */

/* tabs list */
.tabs-list li.active a,
.tabs-list li a:hover,
.tabs-list li a:focus,

/* dark MINT buttons */
.btn--main-inverted,

/* splitted home */
#splitted-home .btn:hover,

/* milestones */
.milestones-list li:nth-child(1),

/* pricing */
.package-title-box,

/* blog */
.view-news-btn,
.pager li > a
{ background-color: #1f2625; }

/* dark mint shades - milestones */
.milestones-list li:nth-child(2) { background-color: rgba(31, 38, 37, 0.98); }
.milestones-list li:nth-child(3) { background-color: rgba(31, 38, 37, 0.96); }
.milestones-list li:nth-child(4) { background-color: rgba(31, 38, 37, 0.94); }

/* #DARKER MINT BORDER
/* ======================== */

/* tabs list */
.tabs-list li a,
.tabs-list li.active a,

/* contact */
.contact-tabs-holder 
{ border-color: #1f2625 !important; }

/* ========================================= */
/*	$BALE MINT - #DFF0EB                      */
/* ========================================= */

/* home */
#home,

/* profile */
.profile-image-holder,

/* clients */
#clients
{ background-color: #dff0eb; }

/* ========================================= */
/*	$SOCIAL LINKS                             */
/* ========================================= */

/* color */
.twitter-color:hover, 
.tweets-list .fa          { color: #00aced; }         
.google-plus-color:hover  { color: #dd4b39; }             
.behance-color:hover      { color: #1769ff; }         
.dribbble-color:hover     { color: #ea4c89; }          
.github-color:hover       { color: #222; }
.facebook-color:hover     { color: #3b5998; }         
.linkedin-color:hover     { color: #007bb6; }             
.wordpress-color:hover    { color: #1e8cbe; }         
.pencil-color:hover       { color: #222; }          

/* background */
.twitter-bg:hover         { background-color: #00aced; border-color: #00aced }         
.google-plus-bg:hover     { background-color: #dd4b39; border-color: #dd4b39 }             
.behance-bg:hover         { background-color: #1769ff; border-color: #1769ff }         
.dribbble-bg:hover        { background-color: #ea4c89; border-color: #ea4c89 }          
.github-bg:hover          { background-color: #222; border-color: #222 }
.facebook-bg:hover        { background-color: #3b5998; border-color: #3b5998 }         
.linkedin-bg:hover        { background-color: #007bb6; border-color: #007bb6 }             
.wordpress-bg:hover       { background-color: #1e8cbe; border-color: #1e8cbe }         
.pencil-bg:hover          { background-color: #222; border-color: #222 }          

/* shadow */
.twitter-bg:hover         { -webkit-box-shadow: 0 0 0 0 #00aced; box-shadow: 0 0 0 0 #00aced }
.google-plus-bg:hover     { -webkit-box-shadow: 0 0 0 0 #dd4b39; box-shadow: 0 0 0 0 #dd4b39 }
.behance-bg:hover         { -webkit-box-shadow: 0 0 0 0 #1769ff; box-shadow: 0 0 0 0 #1769ff }
.dribbble-bg:hover        { -webkit-box-shadow: 0 0 0 0 #ea4c89; box-shadow: 0 0 0 0 #ea4c89 }
.github-bg:hover          { -webkit-box-shadow: 0 0 0 0 #222; box-shadow: 0 0 0 0 #222 }
.facebook-bg:hover        { -webkit-box-shadow: 0 0 0 0 #3b5998; box-shadow: 0 0 0 0 #3b5998 }
.linkedin-bg:hover        { -webkit-box-shadow: 0 0 0 0 #007bb6; box-shadow: 0 0 0 0 #007bb6 }
.wordpress-bg:hover       { -webkit-box-shadow: 0 0 0 0 #1e8cbe; box-shadow: 0 0 0 0 #1e8cbe }
.pencil-bg:hover          { -webkit-box-shadow: 0 0 0 0 #222; box-shadow: 0 0 0 0 #222 }

/* ========================================= */
/* $GRADIENT HOME THEME                      */
/* ========================================= */

/* background gradient home */
.gradient
{
	background: #545072; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #545072 0%, #2a2a30 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#545072), color-stop(100%,#2a2a30)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #545072 0%,#2a2a30 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #545072 0%,#2a2a30 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #545072 0%,#2a2a30 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #545072 0%,#2a2a30 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545072', endColorstr='#2a2a30',GradientType=1 );
}

.home__image-box
{
	border-color: hsla(0,0%,100%,0.1);
	box-shadow: 0 0 10px 0 hsla(0,0%,0%,0.12);
}

.home__name
{
	color: #000;
	text-shadow: 0 0 3px hsla(0,0%,0%,0.5);
}

	.rings .ring { border-color: #fff; }